<h1>Edit Post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>

<span><%= link "Show", to: Routes.post_path(@conn, :show, @post) %></span>
<span><%= link "Top", to: Routes.page_path(@conn, :index) %></span>
